{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    "jsx": true
  },
  "rules" : {
    "semi": [2, "always"]
  }
}
